<div class="products-index">
  <div class="pull-right">
    <%= link_to("新增商品", new_admin_product_path, :class => "btn btn-default" ) %>
  </div>
  <br />
  <br />
  <div>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <td>#</td>
        <td>品名</td>
        <td>库存（本/套）</td>
        <td>价格（元）</td>
        <td>选项</td>
        <td>创建时间</td>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="text-center">
            <%= product.id %>
          </td>
          <td class="text-center">
            <%= link_to(product.title, admin_product_path(product)) %>
          </td>
          <td class="text-right">
            <%= product.quantity %>
          </td>
          <td class="text-right">
            <%= product.price %>
          </td>
          <td class="text-center">
            <%= link_to("编辑", edit_admin_product_path(product)) %> |
            <%= link_to("删除", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
          </td>
          <td class="text-center">
            <%= product.created_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
