<br />
<div class="product-box">
  <div class="container">
    <div class="row">
      <% @products.each_with_index do |product, index| %>
        <div class="col-xs-12 col-sm-6 col-md-4 product-content">
          <%= link_to product_path(product) do %>
            <!-- 商品图片 -->
            <% if product.product_images.present? %>
            <!-- 显示第一张图片 -->
              <%= image_tag(product.product_images[0].image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
            <% end %>
          <% end %>
          <div class="product-info text-center">
            <h4> ￥ <%= product.price %> </h4>
            <h5> <%= link_to(product.title, product_path(product)) %> </h5>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-center">
      <%= will_paginate @collection, renderer: BootstrapPagination::Rails, :previous_label => '←', :next_label => '→' %>
    </div>
  </div>
</div>
<br />
