<br />
<div class="product-box">
  <div class="contaniner">
    <div class="row">
      <div class="col-md-12 ">
        <% @products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
              <% end %>
            <% end %>
            <div class="text-center">
              <p> <%= product.title %> <p>
              <h5> ￥<%= product.price %> </h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @collection, renderer: BootstrapPagination::Rails, :previous_label => '←', :next_label => '→' %>
    </div>
  </div>
</div>
<br />
