<br />
<div class="product-box">
  <div class="container">
    <div class="row">
      <% @products.each_with_index do |product, index| %>
        <div class="col-xs-12 col-sm-6 col-md-4 product-content">
          <%= link_to product_path(product) do %>
            <!-- 商品图片 -->
            <% if product.image.present? %>
            <!-- 显示主图 -->
              <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/300x200&text=No Pic", class: "thumbnail")%>
            <% end %>
          <% end %>
          <div class="product-info text-center">
            <h5> ￥ <%= product.price %> </h5>
            <h5> <%= link_to(product.title, product_path(product)) %> </h5>
          </div>
          <div class="product-action-icon">
            <div class="favorite-action pull-left">
              <% if render_unfavorite(product) %>
                <%= link_to("", add_to_favorite_product_path(product),method: :post, class: "fa fa-heart fa-lg", style: "color:#8D6E63;") %>
              <% else %>
                <%= link_to("", quit_favorite_product_path(product),method: :post,  class: "fa fa-heart fa-lg", style: "color:#FF5722;") %>
              <% end %>
            </div>
            <div class="addtocart-action pull-right">
              <% if product.quantity.present? && product.quantity > 0 %>
                <%= link_to("", add_to_cart_product_path(product), :method => :post, :class => "fa fa-cart-arrow-down fa-lg", style: "color: #8D6E63") %>
              <% else %>
                <i>售罄</i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-center">
      <%= will_paginate @collection, renderer: BootstrapPagination::Rails, :previous_label => '←', :next_label => '→' %>
    </div>
  </div>
</div>
<br />
