<div class="product-box product-show">
  <div class="contaniner">
    <div class="product-show-mainblock">
      <div class="col-md-8 col-lg-6 col-lg-offset-2 product-image">
        <% if @product.image.present? %>
          <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/600x400&text=No Pic", class: "thumbnail") %>
        <% end %>
      </div>

      <div class="product-details col-md-4 col-lg-2">
        <h2> <%= @product.title %> </h2>
        <div style="height:400px;">
          <p>
            <%= simple_format(@product.description) %>
          </p>
        </div>
        <div> 库存 ： <%= @product.quantity %> 件 </div>
        <div class="product-price"> ￥ <%= @product.price %>  </div>
        <br />
        <div class="pull-right">
          <% if @product.quantity.present? && @product.quantity > 0 %>
            <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-cart-arrow btn-md") %>
          <% else %>
            <h4>已售完</h4>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-lg-offset-2 product-multimages">
      <% if @product_images.present? %>
        <div class="tab-content show-picture col-lg-6">
          <!-- 這里用each_with_index紀錄，第一張(index ==0)時，顯示大圖，其餘顯示小圖(thumb) -->
          <% @product_images.each_with_index do |p, index| %>
            <% if index < 16 %>
              <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>">
                <%= image_tag p.image.medium.url %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="">
          <ul class="show-photo-xsmall-box nav nav-tabs">
            <% @product_images.each_with_index do |p, index| %>
              <% if index < 16 %>
                <li><a href="#<%= index %>" data-toggle="tab"><%= image_tag(p.image.thumb.url)%></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% else %>
      <%= image_tag("http://placehold.it/600x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>

    <div class="row product-socialphotos">
      <div class="socialphotos-title col-md-12">
        <h4 class="text-center"> SOCIAL </h4>
      </div>
      <% if @social_photos.present? %>
        <div class="socialphotos-show-picture col-md-12">
          <% @social_photos.each_with_index do |p, index| %>

              <% if index < 6 %>
              <div class="socialphotosindex col-xs-4 col-md-2" style="letter-spacing: -8px">
                <%= image_tag p.image.medium.url %>
              </div>
              <% end %>
          <% end %>
        </div>
      <% else %>
      <%= image_tag("http://placehold.it/600x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
  </div>
</div>
