<!DOCTYPE html>
<html>
<head>
  <title>Craftent 后台</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <div style="margin-top:50px;">
        <br />
        <br />
        <div class="col-md-2 nav-sidebar">
          <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li><%= link_to admin_products_path do %> <span class="fa fa-cube"></span> <span><%= t('后台产品管理') %></span><% end %></li>
            <li><%= link_to admin_orders_path do %> <span class="fa fa-th-list"></span> <span><%= t('后台订单管理') %></span><% end %></li>
          </ul>
        </div>
        <div class="admin-box">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render "common/footer" %>
</body>
</html>
