<!DOCTYPE html>
<html>
  <head>
    <title>Craftent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
      </div>
      <%= render "common/flashes" %>
      <div class="col-lg-8 col-lg-offset-2">
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
