<!DOCTYPE html>
<html>
  <head>
    <title>Craftent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <%= render "common/navbar" %>
          <%= render "common/flashes" %>
        </div>
        <div style="margin-top:50px">
          <%= yield %>
        </div>

      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
